.home-container {
  z-index: -1;
  position: absolute;
  top: 0px;
}

/* hero section */

.home-hero-img-container {
  position: relative;
  width: 98.9vw;
}

.home-hero-img {
  width: 100%;
  height: 600px;
  z-index: -1;
}

.hero-cover {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-header {
  color: var(--blue);
  position: absolute;
  top: 19%;
  left: 19%;
  font-size: 9em;
}

/* Business Section */
.home-business-container {
  width: 75%;
  margin: 60px auto;
}

.home-business-header {
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
}

.home-business-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  list-style: none;
}

.home-business-img-container {
  width: 300px;
}

.home-business-img {
  width: 100%;
  height: 300px;
}

.home-business-card {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.home-business-card-link{
  text-decoration: none;
  color: black;
}

.home-business-card-title {
  text-align: center;
  padding: 20px;
}

.home-business-card-content {
  padding: 10px;
}

.home-business-card-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 50px;
}

.home-delete-btn {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  background-color: white;
  padding: 5px;
  cursor: pointer;
  width: 70px;
}

.home-delete-btn:hover {
  color: white;
  background-color: rgb(255, 0, 0);
  transition: ease-out;
  transition-duration: 0.3s;
}
.home-edit-btn {
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: white;
  padding: 5px;
  cursor: pointer;
  width: 70px;
}

.home-edit-btn:hover {
  color: white;
  background-color: var(--blue);
  transition: ease-out;
  transition-duration: 0.3s;
}
