.profile-dropdown {
  position: absolute;
  top: 70px;
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 20px;
  border-radius: 5px;
}

.nav-user-profile-logout {
  color: var(--blue);
  border: 2px solid var(--blue);
  background-color: white;
  padding: 10px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  margin: 15px 0px 0px 30px;
}

.nav-user-profile-logout:hover {
  color: white;
  background-color: var(--blue);
  transition: ease-out;
  transition-duration: 0.3s;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  height: 90px;
  z-index: 1;
}

.nav-user-list,
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list {
  flex: 2;
  justify-content: center;
  gap: 80px;
}

.nav-user-list {
  flex: 1;
  justify-content: flex-start;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}

.nav-user-profile-btn {
  /* border: 1px solid white; */
  border: none;
  background-color: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  font-size: 1.2em;
}

.nav-user-profile-btn:hover {
  /* border: 1px solid white; */
  background-color: white;
  color: black;
  transition: ease-out;
  transition-duration: 0.5s;
}

/* nav bar black */
.nav-link-black {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.nav-link-black:hover {
  border-bottom: 2px solid black;
}

.nav-user-profile-btn-black {
  border: 1px solid black;
  border: none;
  background-color: transparent;
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  font-size: 1.2em;
}

.nav-user-profile-btn-black:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
  transition: ease-out;
  transition-duration: 0.5s;
}
